/* ===============================================
  サイドバー（オフキャンバスメニュー）
================================================ */
.offcanvas {
  width: 200px;
}

.offcanvas__bg {
  background: linear-gradient(
      to bottom,
      rgba(34, 74, 190, 1),
      rgba(34, 74, 190, 0.7)
    ),
    url('/img/buildings.jpg');
  background-size: cover;
}

.offcanvas__btn--circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.5;
  border: 0;
}

/* 画面サイズがlg以上の時はサイドバーを常に表示する */
@media (min-width: 992px) {
  .offcanvas {
    transform: none;
    visibility: visible !important;
  }
  .offcanvas-outside {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 200px;
  }
}

/* ===============================================
  共通
================================================ */
a {
  text-decoration: none;
}

.common__mh--100 {
  height: calc(100vh - 56px);
}

.common__text--navy {
  color: #224abe;
}

.common__btn--navy {
  color: white;
  background-color: #224abe;
}

.common__btn--navy:hover {
  color: white;
  background-color: #0e408b;
}
