<!--
  エラーページ
  共通レイアウトに挿入される
-->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
</head>

<body>
  <!-- 部品：エラーページ -->
  <th:block layout:fragment="errorPage">
    <!-- メインコンテンツ -->
    <main class="offcanvas-outside bg-light vh-100">
      <!-- コンテナ -->
      <div class="container-fluid">
        <!-- 部品：サイドバーを表示するトグルボタン -->
        <!-- 画面が小さい時のみ表示 -->
        <th:block th:replace="~{fragments/sidebar :: toggler}"></th:block>
        <!-- 画面中央に配置 -->
        <div class="row common__mh--100 justify-content-center align-items-center">
          <!-- エラーメッセージ -->
          <section class="text-center">
            <p class="display-1" th:text="${status}"></p>
            <p class="text-muted mb-4" th:text="${error}"></p>
            <p class="text-muted">ページを表示できません</p>
            <a th:href="@{/}">&larr; ホームに戻る</a>
          </section>
        </div>
      </div>
    </main>
  </th:block>
</body>

</html>